.ng-untouched{
    margin-left:1em;

}
.img{background-image:url(img1.jpg); /* Used if the image is unavailable */
    background-repeat:no-repeat;
    background-size:1200px 800px;
    padding: 25px 24px 544px;
}
